@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Outfit', sans-serif;
  background-color: #1c1e22;
  color: #f8fafc;
  overflow: hidden;
  user-select: none;
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #1c1e22;
}
::-webkit-scrollbar-thumb {
  background: #2d2f33;
  border-radius: 3px;
}
